<table class="table card-table" id='article-show'>
  <tbody>
    <tr>
      <td style="text-align:left;width: 170px;"><%= label :article, :content , class: "form-label", style: 'color: #7795c1;'%></td>
      <td><%= sanitize @article.content %></td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :keywords%></td>
      <td><% for tagging in Tagging.where(taggable_id: @article.id, taggable_type: 'Article', target_type: 'Keyword') %>
        <% @keyword = Keyword.find_by_id(tagging.target_id)%>
        <% if !@keyword.blank?%>
        <span class="tag"><%= @keyword.title%></span>
        <%end%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :datings%></td>
      <td><% for dating in @article.datings %>
        <%= dating.article_event.title%>:
        <span>
          <% @jalali = JalaliDate.to_jalali(dating.event_date)%>
          <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
        </span> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :language%></td>
      <td>
        <% for speaking in @article.speakings %>
        <%= speaking.language.title%> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :contributors%></td>
      <td>
        <% for contribution in @article.contributions %>
        <span class="tag">
          <span class="tag-avatar avatar" style="background-image: url('/assets/noimage-35-tiny.jpg')"></span>
          <%= truncate(contribution.profile.stage_name, length: 15)%>
        </span>
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :article_source%></td>
      <td>
        <% for originating in @article.originatings %>
        <%= originating.article_source.title%> |
        <%end%>
      </td>
    </tr>
    <tr>
      <td style='color: #7795c1;text-align:left;'><%=t :article_area%></td>
      <td>
        <% for areaing in @article.areaings %>
        <%= areaing.article_area.title%> |
        <%end%>
      </td>
    </tr>
  </tbody>
</table>
