<% render partial: 'articles/progress_bar', locals: {article: @article, active: ['titles']}%>
<%= form_for(@article, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :titles_and_workflows %></h3>
</div>
<% if @article.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% @article.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
  <div class="alert alert-info" role="alert">
    <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label"><%=t :workflow%></label>
        <% if @article.workflow_state.blank?%>
          <%= select_tag  "workflow", options_for_select(@workflows.collect { |p| [ p.title, p.id ] }), {class: "form-control"} %>
        <% else%>
          <%= select_tag  "workflow", options_for_select(@workflows.collect { |p| [ p.title, p.id ] }, @article.workflow_state.workflow.id), {class: "form-control", disabled: true} %>
        <%end%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :workflow_state_id, class: "form-label" %>
        <% if @article.workflow_state%>
        <%= text_field_tag :workflow_state_id, @article.workflow_state.title , class: "form-control", disabled: true%>
        <%else%>

        <%end%>
      </div>
    </div>
  </div>
  </div>

  <% if permit_by_workflow(@article, current_user,'keywords')%>
  <div class="form-group">
    <label class="form-label"><%=t :keywords%></label>
    <input type="text" class="form-control" id="input-tags" value="" data-data='<%= raw @keywords.to_json%>'>
  </div>
  <%= hidden_field_tag :keyword, ','+@keyword_ids.map(&:inspect).join(',') %>
  <%end%>

  <% if permit_by_workflow(@article, current_user,'content')%>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :content, class: "form-label" %>
        <%= f.cktext_area :content, id: 'sometext' %>
      </div>
    </div>
  </div>
  <%end%>
  <script>
    CKEDITOR.replace('sometext')
  </script>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label"><%=t :comment_author%></label>
        <% if @article.contributions.blank?%>
        <%=t :unkown%>
        <%else%>
        <% for contribution in @article.contributions%>
        <span class="tag">
          <span class="tag-avatar avatar" style="background-image: url('/assets/noimage-35-tiny.jpg')"></span>
          <%= truncate(contribution.profile.stage_name, length: 15)%>
        </span>
          <%= %>
        <%end%>
        <%end%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label"><%=t :datings%></label>
        <% if @article.datings.blank?%>
        <%=t :unkown%>
        <%else%>
        <% for dating in @article.datings%>
        <%= dating.article_event.title%>:
          <span>	<% @jalali = JalaliDate.to_jalali(dating.event_date)%>
            <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%></span>

        <%end%>
        <%end%>
      </div>
    </div>
  </div>

  <% if permit_by_workflow(@article, current_user,'language')%>
<div class="form-group">
  <div class="form-label"><%=t :languages%></div>
  <div>
    <% for language in Language.all%>
    <%@speaking = Speaking.where(article_id: @article.id, language_id: language.id).first%>
    <label class="custom-control custom-checkbox custom-control-inline">
      <input type="checkbox" class="custom-control-input" id="language_<%= language.id %>" <% if !@speaking.blank?%>checked<%end%> value="<%= language.id %>">
      <span class="custom-control-label" style='padding-right: 23px;padding-top: 2px;'><%= language.title%></span>
    </label>
    <script>
    $('#language_<%= language.id%>').change(function() {
      if($(this).is(":checked")) {
        $.ajax({
          url: '/speakings/remotec/1',
          type: 'GET',
          dataType: 'json',
          data: {
            article_id: <%= @article.id%>,
            language_id: <%= language.id %>
          },
          error: function() {
            $(this).attr("checked", false);
          },
          success: function(res) {
            $(this).attr("checked", true);
          }
        });
      } else {
        $.ajax({
          url: '/speakings/remoted/1',
          type: 'GET',
          dataType: 'json',
          data: {
            article_id: <%= @article.id%>,
            language_id: <%= language.id %>
          },
          error: function() {
            $(this).attr("checked", true);
          },
          success: function(res) {
            $(this).attr("checked", false);
          }
        });
      }
    });
    </script>
    <%end%>
  </div>
</div>
<%end%>


  <div class="card-footer text-right">
    <button type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
  <% end %>
