<div class='row'>
  <div class="col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :keywords%></h3>
      </div>
      <div class="card-body">
        <div id="chart-pie" style="height: 16rem"></div>
      </div>
    </div>
    <% @t = Tagging.where('taggable_type = ? AND target_type = ? AND target_id NOT IN (?)', 'Article', 'Keyword', [14, 15]).group(:target_id).order('count_id desc').count('id')%>
    <script>
    function randomValueOf( obj ) {
      var keys = Object.keys(obj);
      var len = keys.length;
      var rnd = Math.floor(Math.random()*len);
      var key = keys[rnd];
      return obj[key];
    }

    $(document).ready(function(){
      var chart = c3.generate({
        bindto: '#chart-pie', // id of chart wrapper
        data: {
          columns: [
            <% @t.each do |k,v|%>
            ['data<%= k%>', <%= v%>],
            <%end%>
          ],
          type: 'pie', // default type of chart
          colors: {
            <% @t.each do |k,v|%>
            'data<%= k%>': randomValueOf(tabler.colors),
            <%end%>
          },
          names: {
            <% @t.each do |k,v|%>
            'data<%= k%>': '<%= Keyword.find(k).title%>',
            <%end%>
          }
        },
        axis: {
        },
        legend: {
          show: false, //hide legend
        },
        padding: {
          bottom: 0,
          top: 0
        }
      });
    });
    </script>
  </div>
  <div class="col-lg-6 col-xl-6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%=t :tones%></h3>
    </div>
    <div class="card-body">
      <div id="chart-donut" style="height: 16rem"></div>
    </div>
  </div>
  <% @positive = Tagging.where(taggable_type: 'Article', target_type: 'Keyword', target_id: 14 ).count%>
  <% @negative = Tagging.where(taggable_type: 'Article', target_type: 'Keyword', target_id: 15 ).count%>
  <% @neutral = Tagging.where('taggable_type = ? AND target_type = ? AND target_id NOT IN (?)', 'Article', 'Keyword', [14,15]).count%>
  <script>
      $(document).ready(function(){
        var chart = c3.generate({
          bindto: '#chart-donut', // id of chart wrapper
          data: {
            columns: [
                // each columns data
              ['data0', <%= @neutral%>],
              ['data1', <%= @negative%>],
              ['data2', <%= @positive%>]
            ],
            type: 'donut', // default type of chart
            colors: {
              'data0': tabler.colors["gray"],
              'data1': tabler.colors["red-light"],
              'data2': tabler.colors["green-light"]
            },
            names: {
                // name of each serie
              'data0': '<%=t :neutral%>',
              'data1': '<%=t :negative%>',
              'data2': '<%=t :positive%>'
            }
          },
          axis: {
          },
          legend: {
                    show: false, //hide legend
          },
          padding: {
            bottom: 0,
            top: 0
          },
        });
      });
  </script>
</div>

</div>
<div class='row'>
  <div class="col-lg-12">
   <div class="card">
     <div class="card-header">
       <h3 class="card-title"><%=t :comments_date_histogram%></h3>
     </div>
     <div class="card-body">
       <div id="chart-spline" style="height: 16rem"></div>
     </div>
   </div>
   <% @dating = Dating.group(:event_date).order('event_date desc').count('id')%>
   <script>
       $(document).ready(function(){
         var chart = c3.generate({
           bindto: '#chart-spline', // id of chart wrapper
           data: {
             columns: [
               ['data1', <%= @dating.values.join(',')%>]
                 // each columns data
                         ],
             labels: true,
             type: 'spline', // default type of chart
             colors: {
               'data1': tabler.colors["green"]
             },
             names: {
                 // name of each serie
               'data1': '<%=t :comment_date%>',
             }
           },
           axis: {
             x: {
               type: 'category',
               // name of each category
               categories: [<%= raw @dating.keys.map{ |e| "'#{e}'" }.join(',')%>]
             },
           },
           legend: {
                     show: false, //hide legend
           },
           padding: {
             bottom: 0,
             top: 0
           },
         });
       });

 </script>
 </div>
</div>
<div class="row">

  <div class="col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :workflows%></h3>
      </div>
      <div class="card-body">
        <div id="chart-bar-stacked" style="height: 16rem; padding-bottom: 30px;"></div>
      </div>
    </div>
    <% @ends, @notends, @titles = [],[],[]%>
    <% for workflow in Workflow.all%>
      <% @ends << Article.where('workflow_state_id IN (?)', workflow.end_states).count%>
      <% @notends << Article.where('workflow_state_id IN (?)', workflow.not_end_states).count%>
      <% @titles << workflow.title%>
    <%end%>
    <script>
    $(document).ready(function(){
      var chart = c3.generate({
        bindto: '#chart-bar-stacked', // id of chart wrapper
        data: {
          columns: [
            // each columns data

            ['data1', <%= @ends.join(',')%>],
            ['data2', <%= @notends.join(',')%>]
          ],
          type: 'bar', // default type of chart
          groups: [
            [ 'data1', 'data2']
          ],
          colors: {
            'data1': tabler.colors["blue"],
            'data2': tabler.colors["pink"]
          },
          names: {
            // name of each serie
            'data1': '<%=t :end_states %>',
            'data2': '<%=t :not_end_states %>'
          }
        },
        axis: {
          x: {
            type: 'category',
            tick: {
               multiline: false
           },
           categories: [<%=raw @titles.map { |i| "'" + i.to_s + "'" }.join(",")%>]
          },
        },
        bar: {
          width: 16
        },
        legend: {
          show: false, //hide legend
        },

        padding: {
          bottom: 10,
          top: 0
        },
      });
    });
    </script>
  </div>

  <div class="col-lg-6 col-xl-6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%=t :keywordـrepetitions%></h3>
    </div>
    <div class="card-body">
      <div id="chart-bar" style="height: 16rem"></div>
    </div>
  </div>

  <% @p, @s, @title, @n = [], [], [], []%>
  <% for keyword in Keyword.where('id NOT IN (?)', [14, 15])%>
  <% @title << keyword.title%>
  <% @s << Tagging.where('taggable_type = ? AND target_type = ? AND target_id = ?', 'Article', 'Keyword', keyword.id).count%>
  <% @p << Tagging.where('target_id IN (?)', [14, keyword.id]).group(:taggable_id).having('count(target_id) > 1').pluck(:taggable_id).count%>
  <% @n << Tagging.where('target_id IN (?)', [15, keyword.id]).group(:taggable_id).having('count(target_id) > 1').pluck(:taggable_id).count%>
  <%end%>
  <script>
      $(document).ready(function(){
        var chart = c3.generate({
          bindto: '#chart-bar', // id of chart wrapper
          data: {
            columns: [

                // each columns data
              ['data1', <%= @s.join(',')%>],
              ['data2', <%= @p.join(',')%>],
              ['data3', <%= @n.join(',')%>]
            ],

            type: 'bar', // default type of chart
            groups: [
              [ 'data1', 'data2', 'data3']
            ],
            colors: {
              'data1': tabler.colors["gray"],
              'data2': tabler.colors["pink"],
              'data3': tabler.colors["lime"]
            },
            names: {
                // name of each serie
                'data1': ' <%=t :neutral%>',
                'data3': ' <%=t :negative%>',
                'data2': ' <%=t :positive%>'
            }
          },
          axis: {
            x: {
              type: 'category',
              // name of each category
              categories: [<%=raw @title.map { |i| "'" + i + "'" }.join(",")%>]
            },
          },
          legend: {
                    show: false, //hide legend
          },
          bar: {
            width: 16
          },
          padding: {
            bottom: 0,
            top: 0
          },
        });
      });
  </script>
</div>
</div>
